from datetime import datetime, timedelta
from airflow import DAG
from airflow.operators.python import PythonOperator
import logging
import os
from include.utils.io import robust_read_csv  # доступно через PYTHONPATH=/opt/airflow/dags

logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

with DAG(
    dag_id="{{ ir.name }}",
    start_date={{ ir.start_date or "datetime(2025, 1, 1)" }},
    schedule="{{ ir.schedule or '@once' }}",
    catchup=False,
    max_active_runs=1,
    tags={{ ir.tags or ['generated','mvp'] }},
    default_args={{ ir.default_args_py | safe }}
) as dag:
    # сюда компилятор подставляет сгенерированный код задач из шаблонов узлов
    {% filter indent(width=4) %}
{{ tasks_code | safe }}
    {% endfilter %}

    # зависимости между задачами
    {% for edge in ir.edges %}
    {{ edge[0] }} >> {{ edge[1] }}
    {% endfor %}
